@import '../../css/_utils';

.data-block {
	@extend %flex-column;
	align-items: center;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 5px 10px 2px $shadow;
	margin-right: 16px;
	width: 224px;
	.data-block__data {
		display: flex;
		flex-wrap: wrap;
	}
}

.data-label {
	color: $light-brown-font;
	display: flex;
	font-size: 14px;
	font-weight: normal;
	justify-content: flex-end;
	margin: 0 17px 10px;
	width: 63px;
}

.data-info {
	color: $brown-font;
	font-size: 14px;
	font-weight: normal;
	justify-content: flex-start;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 120px;
	.data-info--email {
		color: $email-link-color;
		cursor: pointer;
		display: block;
		text-decoration: underline;
	}
}
