// COLORS
$account-blue: #0AA3C1;
$account-item-border: #098097;
$brown-font: #4F4D43;
$border-dark: #213b3d;
$button-border: #5C9398;
$fully-transparent: rgba(0,0,0,0);
$grey: #D8D8CE;
$header-color: #1B3C43;
$header-search-shadow: #496369;
$header-tab-color: #0CA1BD;
$header-tab-selected: #198593;
$input-background: #EAEAE8;
$input-border: #489691;
$light-blue: #25ABC2;
$shadow: rgba(0,0,0,.2);
$shadow-light: rgba(0,0,0,.1);
// $light-brown-font: #949494;
// $add-contact-background: #217F7A;
// $add-contact-plus: #1A6662;
// $email-link-color: #0E9AC0;
// $list-header-name: #0086A5;
// $list-header-surname: #0390AE;
// $list-header-city: #0899b8;
// $list-header-email: #0DADCA;
// $list-header-phone: #11B6D4;
// $list-header-actions: #14C0DD;
// $list-hover: #E6F6F9;
// $list-action-hover: #11B6D4;
// $half-transparent: rgba(0,0,0,.5);