@import './css/_utils';

* {
	box-sizing: border-box;
	flex-shrink: 0;
}

html, body {
	@extend %flex-column;
	@include setBox(100%);

	background: linear-gradient(135deg, #217f7a, #1b3c6b);
	font-size: $default-font-size;
	font-family: 'Open Sans', sans-serif;
  height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
  width: 100%;
}

body {
	> div {
		height: 100%;
		width: 100%;
	}
}
.page {
	@extend %flex-column;
	@include setBox(100%);

	background: linear-gradient(135deg, #217f7a, #1b3c6b);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	overflow: auto;
}